* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.container_timer {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 500px;
  background: radial-gradient(ellipse at center, #416433 0%, #309130 70%);
  border-radius: 5%;
}

.timer {
  font-family: "Share Tech Mono", monospace;
  font-size: 64px;
  color: #cccab4;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.container_calendar {
  text-align: center;
  margin-bottom: 40px;
}

.container_calendar input {
  font-size: 24px;
  font-weight: 700;
  width: 250px;
  height: 50px;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
  color: rgb(90, 89, 59);
}

.container_calendar button {
  font-size: 24px;
  height: 40px;
  width: 100px;
  background-color: #309135;
  color: #cccab4;
  border: none;
  border-radius: 10px;
}

.container_calendar button:not([disabled]):hover {
  cursor: pointer;
  background-color: #3ebe43;
}

.form {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  position: relative;
}

.form input {
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  width: 250px;
  height: 50px;
  border: 4px solid #309135;
  color: rgb(90, 89, 59);
}

.form button {
  position: absolute;
  top: 180%;
  left: 45%;
  font-size: 24px;
  height: 60px;
  width: 240px;
  background-color: #309135;
  color: #cccab4;
  border: none;
  border-radius: 10px;
}

.form button:hover {
  cursor: pointer;
  background-color: #3ebe43;
}

.container_color_switcher {
  text-align: center;
}

.btn {
  font-size: 24px;
  height: 60px;
  width: 240px;
  background-color: #309135;
  color: #cccab4;
  border: none;
  border-radius: 10px;
}

.btn:not([disabled]):hover {
  cursor: pointer;
  background-color: #3ebe43;
}